################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testest/testest.VC.VC.opendb
/testest/testest/Debug/vc140.pdb
/testest/testest/Debug/vc140.idb
/testest/testest/Debug/testest.tlog/testest.lastbuildstate
/testest/testest/Debug/testest.tlog/link.write.1.tlog
/testest/testest/Debug/testest.tlog/link.read.1.tlog
/testest/testest/Debug/testest.tlog/link.command.1.tlog
/testest/testest/Debug/testest.tlog/CL.write.1.tlog
/testest/testest/Debug/testest.tlog/CL.read.1.tlog
/testest/testest/Debug/testest.tlog/CL.command.1.tlog
/testest/testest/Debug/testest.log
/testest/testest/Debug/Source.obj
/testest/Debug/testest.pdb
/testest/Debug/testest.ilk
/testest/Debug/testest.exe
